<div class="blank-state-container">
  <div class="blank-state">
    <div class="blank-state-primary">
      No Parties/Guests Yet
      <div class="blank-state-primary-subtext">
        A Part is a group of associated Guests that
        usually share the same mailing address.
      </div>
    </div>
    <div class="blank-state-actions">
      <%= link_to "Add Your First Party", new_party_path, class: "button button-raised-green" %>
    </div>
  </div>
</div>
