<div class="list-item" role="guest">
  <div class="list-item-primary">
    <%= guest.first_and_last_name %>
    <div class="list-item-primary-subtext">
      <%= guest.alcoholic_beverage_names %>
    </div>
  </div>
</div>
