<div class="list-item" role="guest">
  <div class="list-item-icon bold">
    <%= guest.initials %>
  </div>
  <div class="list-item-primary">
    <%= guest.full_name %>
  </div>
  <div class="list-item-secondary">
    <%= link_to "edit", edit_party_guest_path(@party.uuid, guest.uuid), class: "material-icons list-item-secondary-button" %>
    <%= link_to "delete", party_guest_path(@party.uuid, guest.uuid), class: "material-icons list-item-secondary-button", method: "DELETE", data: { "custom-confirm" => { template: "guest-confirm-dialog-template" } } %>
  </div>
</div>
