<%= link_to edit_guest_path(guest.uuid), class: "list-item", role: "guest" do %>
  <div class="list-item-primary">
    <%= guest.full_name %>
  </div>
  <div class="list-item-primary color-helper">
    <%= guest.party_name %>
  </div>
<% end %>
