<script id="user-confirm-dialog-template" type="text/x-handlebars-template">
  <header>
    <div class="dialog-title">Remove User?</div>
  </header>
  <div class="dialog-content">
    Do you want to <strong class="color-red">completely</strong> remove this user?

    <ul class="color-helper">
      <li>Will no longer have access to application</li>
      <li>Any assigned items will have to be re-assigned</li>
    </ul>
  </div>
  <div class="dialog-actions align-right">
    <button type="button" class="button button-flat-grey" role="cancel">Cancel</button>
    <button type="button" class="button button-flat-red" role="confirm">Remove</button>
  </div>
</script>
