<% content_for(:appbar_title) { "Users" } %>
<% if current_user.account_owner? %>
  <% content_for(:appbar_actions) do %>
    <%= link_to "add", new_user_path, class: "material-icons appbar-button", tooltip: "Invite User", id: "new-user-button", data: { "tooltip-position": "bottom-left", tooltip: "Invite User" } %>
  <% end %>

  <%= link_to new_user_path, class: "button fab fab-secondary", id: "new-user-fab", data: { "tooltip-position": "left", tooltip: "Invite User" }, role: "fab" do %>
    <i class="material-icons">add</i>
  <% end %>
<% end %>

<div class="list-subheader">
  Only the Account Owner can manage Users
</div>
<div class="list list-bordered list-two-lines list-divided list-hoverable rounded-corners background-color-white allow-room-for-fab-at-bottom" id="users">
  <%= render @invited_users %>
  <%= render @users %>
</div>
