<script id="party-confirm-dialog-template" type="text/x-handlebars-template">
  <header>
    <div class="dialog-title">Remove Party?</div>
  </header>
  <div class="dialog-content">
    Do you want to <strong class="color-red">completely</strong> remove this Party?

    <ul class="helper-text">
      <li>All Guests in this Party will be removed</li>
      <li>All information about this Party will be lost</li>
    </ul>
  </div>
  <div class="dialog-actions align-right">
    <button type="button" class="button button-flat-grey" role="cancel">Cancel</button>
    <button type="button" class="button button-flat-red" role="confirm">Remove</button>
  </div>
</script>
