<div class="field field-xsmall field-with-validations">
  <div class="field-label">
    <%= f.label :name, class: "required" %>
  </div>
  <div class="field-element">
    <%= f.text_field :name, class: "full-width", autofocus: true %>
  </div>
</div>
