<%= link_to party_path(party.uuid), class: "list-item", role: "party" do %>
  <div class="list-item-primary">
    <%= party.name %>
    <div class="list-item-primary-subtext">
      <%= pluralize party.guests.count, "guest" %>
    </div>
  </div>
<% end %>
