<% content_for(:appbar_title) { "Parties" } %>

<%= link_to new_party_path, class: "button fab fab-secondary", id: "new-guest-fab", data: { "tooltip-position": "left", tooltip: "New Party" }, role: "fab" do %>
  <i class="material-icons">add</i>
<% end %>

<% if @parties.any? %>
  <div class="list list-bordered list-two-lines list-divided list-hoverable rounded-corners background-color-white allow-room-for-fab-at-bottom" id="parties">
    <% @parties.each do |letter, parties| %>
      <div class="list-header">
        <div class="list-header-primary">
          <%= letter %>
        </div>
      </div>
      <%= render parties %>
    <% end %>
  </div>
<% else %>
  <%= render "authenticated/parties/blank_state" %>
<% end %>
