<div class="card full-width constrained-small">
  <div class="card-header align-center">
    <div class="card-header-primary">
      Thank You!
      <div class="card-header-primary-subtext">
        Your RSVP is complete
      </div>
    </div>
  </div>
  <div class="card-content">

  </div>
  <div class="card-actions">
    <%= link_to "Edit", rsvp_path(@party.rsvp_code), class: "button button-outline-primary" %>
  </div>
</div>
