<h1>TODO</h1>
<ul>
  <li>
    Breakdown of:
    <ul>
      <li>parties and guest counts (RSVPed/rejected)</li>
      <li>drinking counts</li>
      <li>missing mailing addresses</li>
      <li>who has not been sent a Save the Date or Invitation</li>
    </ul>
  </li>
  <li>Countdown to event</li>
  <li>Checklist of things left to address (need to implement todo checklist)</li>
  <li>Ability to quickly add any new resource from the Dashboard</li>
</ul>
