<div class="menu menu-width-3" id="appbar-menu" data-position="top-right">
  <%= link_to logout_path, class: "menu-item", id: "logout-link" do %>
    <div class="menu-item-icon">
      <i class="zmdi zmdi-sign-in zmdi-hc-rotate-180"></i>
    </div>
    <div class="menu-item-primary">
      Logout
    </div>
  <% end %>
</div>
