<div class="email-title">Password Reset</div>

<p>
  Use the following link to reset your password:
</p>

<table class="email-button-container">
  <tbody>
    <tr>
      <td>
        <table class="email-button">
          <tbody>
            <tr>
              <td>
                <%= link_to "Reset your Password Now", password_reset_url(@user.password_reset_token), target: "_blank" %>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<p>
  If you did not request to reset your password, ignore this email
  and nothing will change.
</p>
<p>
  If you do not use this link within 2 hours, it will expire.<br />
  After that, you will have to <%= link_to "request a new password reset", new_password_reset_url %>.
</p>
