<div class="blank-state-container">
  <div class="blank-state">
    <div class="blank-state-primary">
      Everyone has an Invitation!
      <div class="blank-state-primary-subtext">
        Looks like all your Parties have an Inviation
        sent to them.
      </div>
    </div>
  </div>
</div>
