//======================================================================
// Styles applied to global application
//======================================================================

// Main navigation
//----------------------------------------------------------------------

// Active tab
.controller-dashboards #dashboard-tab,
.controller-parties #parties-tab,
.controller-guests #parties-tab,
.controller-missing_mailing_addresses #missing-mailing-addresses-tab,
.controller-save_the_dates #save-the-dates-tab,
.controller-invitations #invitations-tab,
.controller-users #users-tab,
.controller-settings #settings-tab {
  background-color: color("hover");

  .list-item-icon,
  .list-item-primary,
  .list-item-secondary {
    color: color("primary");
  }
}

// Trying out new form validation format
//----------------------------------------------------------------------

[data-link] {
  cursor: pointer;
  @include no-touch-highlight();
}

// Mailing Address forms
//----------------------------------------------------------------------

textarea.disabled {
  background-color: color("hover") !important;
  color: color("helper") !important;
  cursor: not-allowed;
}

// Visual feedback once updated
textarea.updated {
  background-color: color("highlight");
}

.list-responsive {
  .list-item {
    display: block;
    padding-top: $spacing-normal;
    padding-bottom: $spacing-normal;

    .list-item-primary,
    .list-item-secondary {
      display: block;
      padding: $spacing-xsmall $spacing-normal;
      text-align: left;
    }
  }
}

@media (min-width: $medium-width) {
  .list-responsive {
    .list-item {
      @include flex-parent-row();

      .list-item-primary,
      .list-item-secondary {}

      .list-item-secondary {
        padding-left: 0;
        text-align: right;
      }
    }
  }
}
