//======================================================================
// Styles applied to global application
//======================================================================

// Main navigation
//----------------------------------------------------------------------

#main-nav {
  .list-item-primary {
    font-weight: bold;
  }
}

// Active tab
.controller-guests #guests-tab,
.controller-parties #parties-tab,
.controller-users #users-tab,
.controller-settings #settings-tab {
  background-color: color("hover");

  .list-item-icon,
  .list-item-primary {
    color: color("primary");
  }
}

// Trying out new form validation format
//----------------------------------------------------------------------

.field.has-errors {
  background-color: transparent;

  input.invalid {
    background-color: color("light-red");
    border: 1px solid color("red");
  }
}
