//======================================================================
// Styles applied to global application
//======================================================================

// Padding on main area on larger screens
//----------------------------------------------------------------------

@media (min-width: $medium-width) {
  #main {
    padding: $spacing-normal;
  }
}

// Left sidebar on larger screens
//----------------------------------------------------------------------

@media (min-width: $large-width) {
  #left-sidebar {
    background-color: transparent;
    border-right-color: transparent;
  }
}

// Main navigation
//----------------------------------------------------------------------

#main-nav {
  .list-item:hover {
    background-color: color("hover");
  }

  .list-item:active {
    background-color: darken(color("hover"), 5%);
  }
}

// Active tab
.controller-attendees #attendees-tab,
.controller-salutations #salutations-tab,
.controller-users #users-tab {
  background-color: color("hover");
  font-weight: bold;
}

// Toggle fix
//----------------------------------------------------------------------

// TODO Tmp solution until I fix UI gem
.toggle {
  padding-top: $spacing-small + 2px;
  padding-bottom: $spacing-small;
}
