//======================================================================
// Styles applied to global application
//======================================================================

// Main navigation
//----------------------------------------------------------------------

#main-nav {
  .list-item-primary {
    font-weight: bold;
  }
}

// Active tab
.controller-parties #parties-tab,
.controller-guests #parties-tab,
.controller-users #users-tab,
.controller-settings #settings-tab {
  background-color: color("hover");

  .list-item-icon,
  .list-item-primary {
    color: color("primary");
  }
}

// Trying out new form validation format
//----------------------------------------------------------------------

[data-link] {
  cursor: pointer;
  @include no-touch-highlight();
}
